{% include 'templates/header.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<main>
    <h3>Ласкаво просимо на наш веб-сайт планування подорожей!</h3>
    <p>
        Ми пропонуємо вам унікальну можливість створити свою ідеальну подорож. Незалежно від того, чи ви шукаєте відпочинок на пляжі, захоплюючі пригоди в горах, культурні відкриття у містах чи романтичні екскурсії, у нас є все, що вам потрібно.
    </p>
    <p>
        Наш сайт дозволяє вам знайти і забронювати ідеальний готель, побачити рекомендації та відгуки від інших мандрівників, а також скласти свій власний план подорожі. Ви можете легко переглядати різноманітні готелі, оцінювати їх рейтинг, дивитися фотографії та детальні описи, щоб знайти той, який найкраще відповідає вашим потребам.
    </p>
    <p>
        Крім того, ви можете додавати власні готелі та кімнати до нашої бази даних, щоб ділитися їх привабливістю з іншими користувачами. Таким чином, ви допоможете іншим мандрівникам знайти чудові місця для своїх майбутніх подорожей.
    </p>
    <p>
        Заплануйте свою наступну подорож прямо зараз і дайте нам вам допомогти зробити її незабутньою!
    </p>
    <br>
    <h3>
        Готелі з якими ми працюємо
    </h3>

    <div class="hotel-list">
        {% for hotel in hotels %}
        <div class="hotel-card">
            <img src="data:image/jpeg;base64,{{ hotel[5] }}" alt="{{ hotel[1] }}">
            <h2>{{ hotel[1] }}</h2>
            <span>{{ hotel[3] }}</span>,
            <span>
                {% set star_rating = hotel[4] | int %}
                {% for _ in range(star_rating) %}
                    &#9733;
                {% endfor %}
            </span>

        </div>
        {% endfor %}
    </div>
</main>

{% include 'templates/footer.html' %}